<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.roses.system.modular.mapper.EvalutionQuestionBankMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.roses.system.modular.entity.EvalutionQuestionBank">
        <id column="id" property="id" />
        <result column="model_id" property="modelId" />
        <result column="business_type_id" property="businessTypeId" />
        <result column="question_type" property="questionType" />
        <result column="title" property="title" />
        <result column="options" property="options" />
        <result column="answer" property="answer" />
        <result column="create_time" property="createTime" />
        <result column="creater" property="creater" />
        <result column="is_del" property="isDel" />
        <result column="seq" property="seq" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, model_id, business_type_id, question_type, title, options, answer, create_time, creater, is_del, seq
    </sql>

</mapper>
