<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.roses.system.modular.mapper.PlanTrainAuditLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.roses.system.modular.entity.PlanTrainAuditLog">
        <id column="id" property="id" />
        <result column="plan_id" property="planId" />
        <result column="train_plan_id" property="trainPlanId" />
        <result column="checker" property="checker" />
        <result column="check_status" property="checkStatus" />
        <result column="check_content" property="checkContent" />
        <result column="check_time" property="checkTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, plan_id, train_plan_id, checker, check_status, check_content, check_time
    </sql>

</mapper>
