<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.roses.system.modular.mapper.TrainQrInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.roses.system.modular.entity.TrainQrInfo">
        <id column="id" property="id" />
        <result column="check_date" property="checkDate" />
        <result column="class_id" property="classId" />
        <result column="course_id" property="courseId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, check_date, class_id, course_id, start_time, end_time, is_del
    </sql>

</mapper>
