<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.roses.system.modular.mapper.TrainLeaveTeamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.roses.system.modular.entity.TrainLeaveTeam">
        <id column="id" property="id" />
        <result column="class_id" property="classId" />
        <result column="creater" property="creater" />
        <result column="creater_name" property="createrName" />
        <result column="leave_reason" property="leaveReason" />
        <result column="org_id" property="orgId" />
        <result column="org_name" property="orgName" />
        <result column="phone" property="phone" />
        <result column="img_url" property="imgUrl" />
        <result column="file_url" property="fileUrl" />
        <result column="create_time" property="createTime" />
        <result column="is_submit" property="isSubmit" />
        <result column="checker" property="checker" />
        <result column="check_statue" property="checkStatue" />
        <result column="check_reason" property="checkReason" />
        <result column="check_time" property="checkTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, class_id, creater, creater_name, leave_reason, org_id, org_name, phone, img_url, file_url, create_time, is_submit, checker, check_statue, check_reason, check_time
    </sql>

</mapper>
