<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.roses.system.modular.mapper.TrainTrainstyleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.roses.system.modular.entity.TrainTrainstyle">
        <id column="id" property="id" />
        <result column="classid" property="classid" />
        <result column="imageurl" property="imageurl" />
        <result column="createrid" property="createrid" />
        <result column="createtime" property="createtime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, classid, imageurl, createrid, createtime, remark
    </sql>

</mapper>
