<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.roses.system.modular.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.roses.system.api.entity.SysMenu">
        <id column="ID" property="id" />
        <result column="MENU_NAME" property="menuName" />
        <result column="MENU_TYPE" property="menuType" />
        <result column="MENU_ICON" property="menuIcon" />
        <result column="MENU_LINK" property="menuLink" />
        <result column="MENU_TARGET" property="menuTarget" />
        <result column="MENU_PERMISSION" property="menuPermission" />
        <result column="PARENT_ID" property="parentId" />
        <result column="MENU_LEVEL" property="menuLevel" />
        <result column="ORDER_NUM" property="orderNum" />
        <result column="DESC" property="desc" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, MENU_NAME, MENU_TYPE, MENU_ICON, MENU_LINK, MENU_TARGET, MENU_PERMISSION, PARENT_ID, MENU_LEVEL, ORDER_NUM, DESC
    </sql>

</mapper>
