<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.roses.system.modular.mapper.SysOrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.roses.system.api.entity.SysOrg">
        <id column="id" property="id" />
        <result column="org_name" property="orgName" />
        <result column="seq" property="seq" />
        <result column="parent_id" property="parentId" />
        <result column="parent_ids" property="parentIds" />
        <result column="org_type" property="orgType" />
        <result column="creater" property="creater" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
        <result column="is_del" property="isDel" />
        <result column="is_real_exist" property="isRealExist" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, org_name, seq, parent_id, parent_ids, org_type, creater, create_time, updater, update_time, remarks, is_del, is_real_exist
    </sql>

    <select id="selectUserNumByOrgId" resultType="int">
        select count(1) from sys_user where org_id = #{orgId} and status in(1,2)
    </select>

    <select id="getOrgList" resultType="cn.stylefeng.roses.system.api.model.SysOrgInfo">
        SELECT
        org.id,
        org.org_name,
        org.seq,
        org.parent_id
        FROM
        sys_org org
        <where>
            <if test="parentId != null and parentId != ''">
                AND org.parent_id = #{parentId}
            </if>

            <if test="orgName != null and orgName != ''">
                AND org.org_name = #{orgName}
            </if>

        </where>

    </select>

</mapper>
